/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.sticky {
  position: sticky;
  top: 20px;
  z-index: 2;
  align-self: flex-start;
}

.wrap-anywhere td,
.wrap-anywhere th {
  white-space: normal !important;
  overflow-wrap: anywhere;      /* modern, nicest */
  word-break: break-word;       /* Safari fallback */
}

.v-expansion-panel-text {
  &.pa-0 {
    .v-expansion-panel-text__wrapper {
      padding: 0 !important;
    }
  }
}

.ubuntu-mono {
  font-family: "Ubuntu Mono", monospace;
}